* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.tableContainer {
    margin-top: 0px;
}
.datatable{
    margin-top: 0;
}

.btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 5px;
    background: rgb(31, 207, 163);
}

.viewComplaints {
    padding-left: 10px;
    margin-top: 30px;
}